.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: contain;
  background-color: #12141780;

  @media screen and (min-width: 768px) {
    padding: 30px;
  }

  @media screen and (min-width: 1024px) {
    overflow-y: scroll;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
  border-radius: 24px;
  width: 335px;
  height: 100vh;

  @media screen and (min-width: 768px) {
    width: 541px;
  }

  @media screen and (min-width: 1440px) {
    height: 752px;
  }
}
.modalCarWrap {
  margin: 0 auto;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}
.modalCar {
  display: flex;
  width: 100%;
  height: 604px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 14px;
}
.modalImgWrap {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 248px;
  object-fit: cover;
  border-radius: 14px;
  background: #f3f3f2;
}
.modalImg {
  position: absolute;
  top: -25px;
  right: 0;
  width: 300px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;

  @media screen and (min-width: 768px) {
    width: 461px;
  }
}
.modalDescriptionWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}
.block {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
}
.span {
  color: var(--color-text-loadmore);
}
.descriptListWrap {
  display: flex;
  height: auto;
  gap: 4px;
  flex-direction: column;
}
.descriptList {
  display: inline-flex;
  height: 18px;
  gap: 6px;
  color: var(--color-text-second);
  white-space: nowrap;
  overflow: hidden;
}

.descript-item {
  display: flex;
  flex-shrink: 1;
}
.descript {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.42;
  height: 40px;
  overflow-y: scroll;
}
.titleH4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 8px;
}
.conditionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--color-text-conditions);
}
.conditionsItem {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  border-radius: 35px;
  background: var(--color-back-conditions);
}
.conditionsItem p {
  margin: 0;
}

.span {
  margin-left: 8px;
}
.modalBtnLink {
  display: flex;
  width: 168px;
  height: 44px;
  padding: 12px;
  justify-content: center;
  border: none;
  border-radius: 12px;
  background: var(--color-button);
  color: var(--color-text-button-and-back);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}
.modalSvg {
  position: absolute;
  width: 24px;
  height: 24px;
  stroke: var(--color-text-main);
  top: 16px;
  right: 16px;
  cursor: pointer;
}
